.gradient::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: -600px;
    background: #13151a;
    background: -moz-linear-gradient(0deg,rgba(19,21,26,1) 0,rgba(19,21,26,0) 100%);
    background: -webkit-linear-gradient(0deg,rgba(19,21,26,1) 0,rgba(19,21,26,0) 100%);
    background: linear-gradient(0deg,rgba(19,21,26,1) 0,rgba(19,21,26,0) 100%);
}

.scrollbar::-webkit-scrollbar {
    width: 6px;
    height: 20px;
  }

.scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #3E4042;
}

.scrollbar::-webkit-scrollbar-thumb {
    background: #5c5c5c;
    border-radius: 100vh;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
    background: #838383;
}

.button {
    transition: background-color 1s ease;
    -webkit-transform: translateZ(0);
    -webkit-transform: translate3d(0, 0, 0);
  }



@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    body {
        font-family: "Montserrat", serif
    }
}
